.bottom-line {
  border-bottom: 2px solid #26d381;
  color: black;
}

.menu-topLine {
  background-color: #19212a;
}

.menu-link a {
  color: #aaa;
}

.menu-link a:hover {
  color: #26d381;
}

.fab {
  color: #aaa;
}

.fab:hover {
  color: #26d381;
}

.menu-bottom {
  background-color: #212a34;
  color: #fff;
}

.description {
  color: #aaa;
}

.active {
  border-bottom: 3px solid #26d381;
}

.figma-act {
  color: #26d381;
}
.menu-main a {
  color: #fff;
}

.menu-main a:hover {
  color: #26d381;
}

.color-grey {
  background-color: #f0f0f0;
}

.list-left {
  color: #aaa;
}

.list-body {
  background-color: #fff;
}

.list-right {
  color: black;
}

.main-footer {
  background-color: #212a34;
}

.footer-link a {
  color: #fff;
}

.footer-link a:hover {
  color: #26d381;
}

.mobile-nav span {
  background-color: #fff;
}

.mobile-nav:after {
  background-color: #fff;
}
