.main-bar {
  width: 40%;
  margin-top: 3.125em;
  padding-left: 11.25em;
}

.right-header {
  font-weight: 700;
  margin-bottom: 1rem;
  padding-bottom: 0.313em;
  font-size: 1.313em;
}

.article {
  margin-top: 3.125em;
  margin-bottom: 3.125em;;
}

.last-header {
  padding-bottom: 0.313em;
  font-weight: 700;
}

.list-templates {
  position: relative;
  padding-left: 7.5em;
  margin-bottom: 0.188em;
}

.list-lessons {
  position: relative;
  padding-left: 7.5em;
  margin-bottom: 0.188em;
}

.list-articles {
  position: relative;
  padding-left: 7.5em;
  margin-bottom: 0.188em;
}

.list-left {
  position: absolute;
  left: 1.563em;
  top: 1rem;
}

.list-body {
  padding: 0.625em 1rem;
}
.date {
  font-size: 0.875em;
  font-weight: 700;
}