.bottom-line {
  border-bottom: 2px solid #26d381;
  color: black;
}

.menu-topLine {
  background-color: #19212a;
}

.menu-link a {
  color: #aaa;
}

.menu-link a:hover {
  color: #26d381;
}

.fab {
  color: #aaa;
}

.fab:hover {
  color: #26d381;
}

.menu-bottom {
  background-color: #212a34;
  color: #fff;
}

.description {
  color: #aaa;
}

.active {
  border-bottom: 3px solid #26d381;
}

.menu-main a {
  color: #fff;
}

.menu-main a:hover {
  color: #26d381;
}

.figma-act {
  color: #26d381;
}

.section-about-figma ol a:hover {
  color: #26d381;
}

.color-grey {
  background-color: #f0f0f0;
}

.list-left {
  color: #aaa;
}

.list-body {
  background-color: #fff;
}

.list-right {
  color: black;
}

.main-footer {
  background-color: #212a34;
}

.footer-link a {
  color: #fff;
}

.footer-link a:hover {
  color: #26d381;
}

.mobile-nav span {
  background-color: #fff;
}

.mobile-nav:after {
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

header, nav, footer {
  display: block;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol, ul {
  margin-top: 0;
}

html, body {
  font-size: 16px;
  background-color: #f9f9f9;
  position: relative;
  line-height: 1.5;
  font-family: roboto-f, sans-serif;
  overflow-x: hidden;
  color: #333;
  height: 100%;
  width: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.page {
  font-size: 0.75em;
}

.figma {
  font-size: 1.5em;
}

.last-header {
  font-size: 1.25em;
}

.list-right {
  font-size: 0.875em;
}

.footer-socLink a {
  font-size: 2.5em;
}

.main-content {
  width: 60%;
}

.pictures {
  height: auto;
  max-width: 100%;
}

.main-bar {
  width: 40%;
  margin-top: 3.125em;
  padding-left: 11.25em;
}

.right-header {
  font-weight: 700;
  margin-bottom: 1rem;
  padding-bottom: 0.313em;
  font-size: 1.313em;
}

.article {
  margin-top: 3.125em;
  margin-bottom: 3.125em;
}

.last-header {
  padding-bottom: 0.313em;
  font-weight: 700;
}

.list-templates {
  position: relative;
  padding-left: 7.5em;
  margin-bottom: 0.188em;
}

.list-lessons {
  position: relative;
  padding-left: 7.5em;
  margin-bottom: 0.188em;
}

.list-articles {
  position: relative;
  padding-left: 7.5em;
  margin-bottom: 0.188em;
}

.list-left {
  position: absolute;
  left: 1.563em;
  top: 1rem;
}

.list-body {
  padding: 0.625em 1rem;
}

.date {
  font-size: 0.875em;
  font-weight: 700;
}

.container {
  display: flex;
  max-width: 1200px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.mobile-nav {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  .menu-bottom ul {
    display: none;
  }

  .main-content {
    width: 100%;
  }

  .main-bar {
    display: none;
  }

  .mobile-nav {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-top: 15px;
  }

  .mobile-nav span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .mobile-nav:before,
.mobile-nav:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .mobile-nav:before {
    top: 0;
  }

  .mobile-nav:after {
    bottom: 0;
  }
}
@media (max-width: 767px) {
  .main-footer .footer-link li {
    display: none;
  }
}
.d-none {
  display: block;
}

.menu-topLine {
  height: 100%;
  width: 100%;
}
.menu-topLine .row {
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
}
.menu-topLine .justify-content-end {
  justify-content: flex-end;
  -webkit-box-pack: end;
}
.menu-topLine .menu-link {
  display: flex;
  margin-bottom: 0.375em;
}
.menu-topLine .page {
  padding-left: 0;
  padding-top: 0.625em;
  margin-left: 1.875em;
}
.menu-topLine li {
  padding-left: 1.875em;
  padding-right: 0.625em;
}
.menu-topLine .menu-soc-link {
  padding-top: 0.438em;
  padding-left: 0;
  margin-right: 1.875em;
}

.menu-bottom {
  margin-bottom: 1.875em;
  width: 100%;
}
.menu-bottom .justify-content {
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.menu-bottom .d-flex {
  display: flex;
}
.menu-bottom .logo {
  padding-top: 0.563em;
}
.menu-bottom img {
  vertical-align: middle;
  border-style: none;
}
.menu-bottom .figma {
  text-transform: uppercase;
  font-weight: 900;
  margin-left: 0.625em;
  margin-bottom: 0;
  margin-top: 0.25em;
  height: 1.875em;
}
.menu-bottom .description {
  margin-left: 0.625em;
  margin-bottom: 0;
}
.menu-bottom p {
  margin-top: 0;
}

.menu-main {
  display: flex;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
}
.menu-main a {
  display: block;
  text-align: center;
  padding-top: 1.25em;
  width: 125px;
  height: 60px;
}

.main-footer {
  margin-top: 3.125em;
}

.container-footer {
  display: block;
}
.container-footer .footer-link {
  display: flex;
  text-transform: uppercase;
  padding-top: 3.125em;
  margin-bottom: 0;
  justify-content: center;
}
.container-footer .footer-link li {
  margin-right: 2.5em;
  margin-bottom: 1.563em;
}
.container-footer .footer-link li a {
  text-transform: uppercase;
}
.container-footer .footer-socLink {
  display: flex;
  text-transform: uppercase;
  padding-top: 1.875em;
  margin-bottom: 0;
  justify-content: center;
}
.container-footer .footer-socLink li {
  display: list-item;
  margin-right: 2.5em;
  margin-bottom: 1rem;
}

.justify-content-copyright {
  -webkit-box-pack: center;
  margin-bottom: 0;
  justify-content: center;
}

.copyright {
  color: #aaa;
  text-align: center;
  margin-top: 1.25em;
  padding-bottom: 1.875em;
  opacity: 0.4;
}

/*# sourceMappingURL=main.css.map */
